
output/HTML_quizzes/Quiz*.html

d2l_quiz_print.Rproj

.DS_Store

.Rproj.user/

output/HTML_quizzes/questions_output*.html

output/HTML_quizzes/In-class Quiz 1 Practice_V1A.html

output/HTML_quizzes/NS26*.html

output/AnswerKeys/NS26*.csv

WordDocs/Quiz_V1A.docx

WordDocs/~$iz_V1A.docx

R/NS260_Quiz1.Rmd

ReadWordQuizzes/~$*.docx

ReadWordQuizzes/APSet1_Bank.docx

output/AnswerKeys/Quiz_answerKeys.csv

ReadWordQuizzes/NS2*.docx

ReadWordQuizzes/Mix_MC_SA.docx
