body {
    font-family: Arial, sans-serif;
    font-size: 11pt;
}

h1 {
    text-align: left;
    margin-bottom: 10px;
}

ol:not([type="A"]) {
    padding-left: 18px; /* Add space for the list numbers */
    list-style-position: outside;
}

li.question-list{
    margin-bottom: 10px;
}

ol[type="A"] {
    margin-left: 20px;
    /* margin-bottom: 10px; */
    margin-top: 0px; /* Ensure no top margin for the first ol[type="A"] */
}

ol[type="A"] li p:first-child {
    margin-top: 0px;
}

/* Container for each question */
.question-container {
    display: flex;
    /* margin-bottom: 10px; */
    border: 2px solid black; /* Add a single border around the question */
    /* border-top: none; Remove the top border for all but the first question */
}

/* Blank column (first column) */
.question-blank {
    width: 0.5in; /* Fixed width for the blank column */
    border-right: 2px solid black; /* Right border to separate from content */
}

/* Content column (second column) */
.question-content {
    flex: 1; /* Take up the remaining space */
    padding-left: 10px; /* Add some padding */
}

/* Style for the question text */
.question-content p {
    margin: 0 0 10px; /* Add spacing below the question text */
}

.correct-answer {
    font-weight: bold;
    color: green;
  }
.correct-letter {
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
    color: blue;
  }

td {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.feedback-table {
  border-collapse: separate;
  border-spacing: 0px 0px;
  width: auto;
}

.feedback-qnum-header, .feedback-option-header {
  text-align: center;
  font-weight: bold;
  background: none;
  border: none;
}

.feedback-qnum {
  text-align: left;
  background: none;
  border-radius: 0;
  width: 0.25in;
  font-size: 1.2em;
  border: none;
}

.feedback-cell {
  width: 0.6in;
  height: 0.25in;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  border: none;
}

.feedback-box {
  display: inline-block;
  width: 0.32in;
  height: 0.13in;
  border-radius: 12px;
  line-height: 0.15in;
  font-size: 1.2em;
  vertical-align: middle;
  border: 2px solid #424242;
  box-sizing: border-box;
  text-align: center; 
}

.feedback-box-extra {
  background-color: black;
}

.cards-wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card-header {
  font-size: 1.2em;
  font-weight: bold;
}

@media print {
  @page {
    margin: 0.5in;
  }
  .card-container { page-break-inside: avoid; }
  .question-container {
      page-break-inside: avoid; /* Prevent <li> from breaking across pages */
  }
  tr {
      page-break-inside: avoid;
  }
  ol:not([type="A"]) > li {
      page-break-inside: avoid; /* Prevent <li> from breaking across pages */
  }
}